BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AlwaysBreakAfterReturnType: None
BreakAfterReturnType: None
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: AlwaysBreak
PenaltyReturnTypeOnItsOwnLine: 1000
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BreakAfterAttributes: Always
BreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeCpp11BracedList: true
PointerAlignment: Left
BreakConstructorInitializers: BeforeComma
AllowShortCaseLabelsOnASingleLine: true
