[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/VulkanMemoryAllocator"]
	path = libraries/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "libraries/volk"]
	path = libraries/volk
	url = https://github.com/zeux/volk.git
